	body{
		display: flex;
		margin: 0px;
		margin-left: 50px;
		background-image: url("../images/unhasu.png");
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0.8;
		
	}
	#leftContainer{
		flex-grow: 1;
		height: 100vh;
		background:rgb(0, 0, 0, 0.8);
		color: green;
		font-size: 17px;
		
		
	}
	#centerContainer{
		flex-grow: 6;
	}
	
	div a{
	color: gray;
	text-decoration: none;
	
	}
	div {
	text-align: center;
}
	
	