
body{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background: #ffffff;
   
   
}
.table{
   position: absolute;
   border: 6px solid #3498db;
   background: #ffffff;
   text-align: left;
   top:20%;
   left: 15%;
   padding-top: 20px;
   padding-left: 60px;
   padding-right: 60px;
   padding-bottom :50px;
}
.table h1{ 
   color: #21a7ab;
    
   text-transform: uppercase;
   font-weight: 500;
   
}
.table input[type="text"]{
   border: 0;
   background: none;
   display: block;
   text-align: left;
   border: 2px solid #000000;

   outline: none;
   color: black;
   border-radius: 5px;
   transition: 0.25s;
   
}
.table input[type="password"]{
   border: 0;
   background: none;
   display: block;
  
   text-align: left;
   border: 2px solid #000000;
 
   outline: none;
   color: black;
   border-radius: 5px;
   transition: 0.25s;
   
}
.table input[type="text"]:focus{
  
   border-color:#2ecc71;
}
.table input[type="password"]:focus{
 
   border-color:#2ecc71;
}
.table input[type="submit"]{
   border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid #000000;
   padding: 14px 40px;
   outline: none;
   color: white;
   border-radius: 24px;
   transition: 0.25s;
   cursor: pointer;
    background: #000000;
}
.table input[type="reset"]{
   border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid #000000;
   padding: 14px 40px;
   outline: none;
   color: white;
   border-radius: 24px;
   transition: 0.25s;
   cursor: pointer;
    background: #000000;
}
.table input[value="돌아가기"]{
   border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid #000000;
   padding: 14px 40px;
   outline: none;
   color: white;
   border-radius: 24px;
   transition: 0.25s;
   cursor: pointer;
    background: #000000;
}
