@charset "EUC-KR";

body{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background: #ffffff;
}
.box{
   width:300px;
   padding: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   border: 6px solid #3498db;
   transform: translate(-50%,-50%);
   background: #ffffff;
   text-align: center;
}
.box h1{
   color: #21a7ab;
   text-transform: uppercase;
   font-weight: 500;
   
}
.box input[type="text"]{
   border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid #000000;
   padding: 14px 10px;
   width: 200px;
   outline: none;
   color: black;
   border-radius: 5px;
   transition: 0.25s;
   
}
.box input[type="password"]{
   border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid #000000;
   padding: 14px 10px;
   width: 200px;
   outline: none;
   color: black;
   border-radius: 5px;
   transition: 0.25s;
   
}
.box input[type="text"]:focus{
   width: 280px;
   border-color:#2ecc71;
}
.box input[type="password"]:focus{
   width: 280px;
   border-color:#2ecc71;
}
.box input[type="submit"]{
   border: 3px  black;
   background: black;
   display: block;
   margin: 5px auto;
   text-align: center;
   border: 2px solid black;
   padding: 15px 32px;
   outline: none;
   color: white;
   border-radius: 8px;
   transition: 0.25s;
   cursor: pointer;
   font-size: 20px;
   width: 130px;
   position: relative;
   top: 40px;
   left: -70px;
}

.box button {
  border: 0;
  background-color: black; 
  color: white; 
  text-align: center;
  border: 3px  black;
  text-decoration: none;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
  width: 130px;
  padding: 15px 32px;
   position: relative;
   top: -22px;
   left: 70px;
}