@charset "UTF-8";

ul{
	margin: 2.5vh 20px;
	padding: 0px;
}
li{
	list-style-type: none;
}
#blockScreen{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .5);
}
#categoryTop{
	height: 20vh;
	background-color: skyblue;
}
#formContainer{
	position: absolute;
	transition: all 1s;
}
#formContainer.modify{
	margin-top: 20%;
	padding: 1rem;
	background-color: skyblue;
}
#addButton{
	position: absolute;
	width: 10vw;
	height: 10vh;
	top: 5vh;
	right: 5vw;
	border: none;
	border-radius: 5px;
	transition: all .2s;
}
#addButton:hover{
	border-top: 5px solid;
	padding-top: 5px;
}
#categoryContainer{
	display: flex;
	margin: 0px;
}
#noticeCategory, #noticeCode{
	color: red;
}
#noticeConfirm{
	color: green;
}
.categoryList{
	flex-grow: 1;
	height: 75vh;
}
#minorCategory{
	background:tomato;
}
.categoryButton{
	height: 10rem;
	border-bottom: hsl(39, 100%, 40%) solid 3px;
	background-color: hsl(39, 100%, 50%);
	transition: background-color .2s;
}
.categoryButton:hover{
	background-color: hsl(39, 100%, 70%);
}