@charset "UTF-8";

ul{
	margin: 2.5vh 20px;
	padding: 0px;
}
li{
	list-style-type: none;
}
#blockScreen{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .5);
}
#categoryTop{
	height: 20vh;
	background-cdlor: skyblue;
}
#formContainer{
	position: absolute;
	transition: all .5s;
	color: silver;
	font-size: 20px;
	margin-top: 40px;
	margin-left: 10px;
	
}
#formContainer.modify{
	margin-top: 20%;
	padding: 1rem;
	background-color: white;
	
	
}
.btn_submit{
	 background-image: url(../images/regist.png);
	 width: 50px;
    height: 50px;
    background-color: black;
    border: 0px;
    background-repeat: no-repeat;
	background-position: center;
	margin-left: 600px;
	position :absolute;
	margin-top: -33px;

}
div categoryTop input{
	word-spacing: 10px;
	}
#addButton{
	position: absolute;
	width: 10vw;
	height: 10vh;
	top: 5vh;
	right: 5vw;
	border: none;
	border-radius: 5px;
	transition: all .2s;
}
#addButton:hover{
	border-top: 5px solid;
	padding-top: 5px;
}
#categoryContainer{
	display: flex;
	margin: 0px;
}
#noticeCategory, #noticeCode{
	color: red;
}
#noticeConfirm{
	color: green;
}
.categoryList{
	flex-grow: 1;
	height: 75vh;
	
}

.categoryButton{
	height: 10rem;
	border-bottom: rgb(0, 0, 0, 0.7) solid 3px;
	background-color: rgb(0, 0, 0, 0.7);
	transition: background-color .2s;
	color: white;
	font-size: 25px;
	text-align: center;
	height: 70px;
	padding-top: 40px;
	
	
}
#majorCategory{
	
	height: 120%;
}
#minorCategory{
	background:rgb(0, 0, 0, 0.7);
	overflow: scroll;
	overflow: hidden;
	height: 120px;
}
#Category{
	overflow: scroll;
	overflow: hidden;
	height: 120px;
	text-align: center;
	
	padding-top: -70px;	
	
}
#CategoryName{
	
}
.deleteButton{
	background-image: url(../images/delete.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height:50px;
	border: 0px;
	position :absolute;
	margin-top:-7px;
	background-color: black;
	
}

.categoryButton:hover{
	background-color: rgb(0, 0, 0, 0.7);

}