@charset "EUC-KR";
<style type="text/css">
        body { font-family: Lucida Sans Unicode, Arial, Sans-Serif; font-size:13px;}

        /* Structure */
        #header, #content, #comments, #sidebar, #footer, #gg { background-color:#F6F6F6; margin:10px 0px;
             -moz-border-radius:10px;  -webkit-border-radius:10px; padding:30px;}
        #header h1 { float:right; margin: 20px 0 0 0; font-size:36px; font-weight:bold;}
        #header h2 {font-size:16px; font-weight:normal; margin:0px; padding:0px;}
        #header { width:900px; margin:0px auto;}
        
        #main {width:960px; margin:0px auto; overflow:hidden;}
        #toolbox { text-align:right; float:right;}
        #content { width:540px; float:left;}
        #comments { width:540px; float:left;}
        #comments p span {display:block; font-size:16px; color:#B0232A;}
        #sidebar { width:280px; margin-left:20px; float:right;}
        #sidebar #ads { width:100%; overflow:hidden;}
        #sidebar #ads img { float:left; margin:5px; display:block;}
        #footer { width:900px; margin:0px auto;}        
       
        /* Different views */
        #content.wide { width:900px;}
        #toolbox.wide { width:960px;}
        #content.compact, #comments.compact { width:690px;}
        #sidebar.compact { width:130px;}
       
       #myP {display:block }
       
        a { color:#0000ff;}
        h3 { font-size:30px; font-weight:bold; padding:0; margin:0; color:#B0232A;}
        em { font-size:10px;}
        gg {text-decoration: line-through;}
    	p {display:block; font-size:16px; color:#B0232A;}
  		
  		
.blue-box {
	background: #09F;
	color: #FFF;
	width: 200px;
	overflow: hidden;
	margin: 10px 0;
}
.blue-box .tl {	background-position: -320px 0px;}
.blue-box .tr {	background-position: -330px 0px;}
.blue-box .bl {	background-position: -320px 10px;}	
.blue-box .br {	background-position: -330px 10px;}

h1 {
	margin-bottom: 0.5em;
	font-size: 1.4em;	
}
h2 {
	font-size: 1.2em;
	line-height: 1;
}
.tl, .tr, .bl, .br {
	background: url(http://www.blueb.co.kr/SRC2/_image/corners.gif);
	width: 10px;
	height: 10px;
	font-size: 0;
}
.tl, .bl {
	float: left;	
}
.tr, .br {
	float: right;	
}
.box-content {
	clear: both;
	padding: 0 10px;
	overflow: hidden;	
}
* html .box-content {
	height: 1%;	
}

  		
  		
  		
    </style>
    