.util_list {
    float: right;
    display: list-item;
    margin: 0;
    padding: 0;
}
.util_list  {
    font-family: 'Malgun Gothic', 'AppleSDGothicNeo', 'Helvetica', sans-serif;
    font-weight: bold;
}
.util_list {
    font-size: 12px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.util_list {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li{
float:left;
padding:0px;
    text-align: -webkit-match-parent;
}
li a{
background: rgb(109,109,109);
color:#cccccc;
display:block;
font-weight:normal;
line-height:50px;
margin:0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
}
 li a{
background:none;
}
li{
	list-style: none;
}