
body{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background: #34495e;
}
.box{
   width:300px;
   padding: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   border: 2px solid #3498db;
   transform: translate(-50%,-50%);
   background: #ffffff;
   text-align: center;
}
.box h1{
   color: #ff0000;
   text-transform: uppercase;
   font-weight: 500;
   
}
.box input[type="text"]{
   border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid #000000;
   padding: 14px 10px;
   width: 200px;
   outline: none;
   color: black;
   border-radius: 5px;
   transition: 0.25s;
   
}
.box input[type="password"]{
   border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid #000000;
   padding: 14px 10px;
   width: 200px;
   outline: none;
   color: black;
   border-radius: 5px;
   transition: 0.25s;
   
}
.box input[type="text"]:focus{
   width: 280px;
   border-color:#2ecc71;
}
.box input[type="password"]:focus{
   width: 280px;
   border-color:#2ecc71;
}
.box input[type="submit"]{
   border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid #2ecc71;
   padding: 14px 40px;
   outline: none;
   color: white;
   border-radius: 24px;
   transition: 0.25s;
   cursor: pointer;
}
.box input[type="submit"]{
   background: #2ecc71;
}
.box button {
  border: 0;
  background-color: #008CBA;; 
  color: #e7e7e7; 
  padding: 15px 32px;
  text-align: center;
  border: 2px solid #008CBA;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 24px;
  cursor: pointer;
}